p {
      font-family: Arial;
  }

h1 {
  		color: maroon;
}

.title{
  		color: teal;
}

.uppercase {
  text-transform: uppercase;
}

#article-title {
  font-family: cursive;
  text-transform: capitalize;
}
.publish-time{
  color: gray;
}
/*I added a class publish-time. This section explained the difference between classes and ids*/
